/*--------------------------------------------------------------
# Based on Cruip framework - v1.0.0
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Variables, functions and mixins
--------------------------------------------------------------*/
@import "core/abstracts/functions", "settings/settings", "core/abstracts/mixins",
  "core/abstracts/include-media";

/*--------------------------------------------------------------
# Normalize
	* normalize.css v7.0.0 | MIT License
	* github.com/necolas/normalize.css
--------------------------------------------------------------*/
@import "core/normalize";

/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
@import "core/base/fonts";

/*--------------------------------------------------------------
# Scroll reveal
--------------------------------------------------------------*/
@import "core/base/scroll-reveal";

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
@import "core/base/base";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "core/base/typography";

/*--------------------------------------------------------------
# Containers
--------------------------------------------------------------*/
@import "core/elements/containers";

/*--------------------------------------------------------------
# Buttons
--------------------------------------------------------------*/
@import "core/elements/buttons";

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
@import "core/elements/forms";

/*--------------------------------------------------------------
# Hamburger
--------------------------------------------------------------*/
@import "core/elements/hamburger";

/*--------------------------------------------------------------
# Modal
--------------------------------------------------------------*/
@import "core/elements/modal";

/*--------------------------------------------------------------
# Split pattern
--------------------------------------------------------------*/
@import "core/patterns/split";

/*--------------------------------------------------------------
# Tiles pattern
--------------------------------------------------------------*/
@import "core/patterns/tiles";

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
@import "core/layout/header";

/*--------------------------------------------------------------
# Site content
--------------------------------------------------------------*/
@import "core/layout/main";

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
@import "core/layout/footer";

/*--------------------------------------------------------------
# Section
--------------------------------------------------------------*/
@import "core/sections/section";

/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/
@import "core/sections/hero";

/*--------------------------------------------------------------
# Features split
--------------------------------------------------------------*/
@import "core/sections/features-split";

/*--------------------------------------------------------------
# Features tiles
--------------------------------------------------------------*/
@import "core/sections/features-tiles";

/*--------------------------------------------------------------
# Testimonial
--------------------------------------------------------------*/
@import "core/sections/testimonial";

/*--------------------------------------------------------------
# Call to action
--------------------------------------------------------------*/
@import "core/sections/cta";

/*--------------------------------------------------------------
# Theme
--------------------------------------------------------------*/
@import "theme/theme";

/*--------------------------------------------------------------
# Helpers
--------------------------------------------------------------*/
@import "core/base/helpers";

// ---------------- Custom Style By Seth-Junior --------------

// ------------------ NavBar ---------------
.header-nav a:active {
  color: #daa520 !important;
}
.header-nav a {
  color: #0047ab !important;
}
.header-nav a:hover {
  color: #daa520 !important;
}
.site-header-inner {
  margin-top: 10px !important;
}
// ---------- Slide Image ------------
.image-slide {
  object-fit: cover;
  background-position: center;
  height: 90vh;
  width: 100%;
}
// ----------------- Player Page -------------
.nav.nav-tabs .nav-link {
  color: #0047ab !important;
  font-size: 18px;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #daa520 !important;
  // background-color: #fff;
  // border-color: #dee2e6 #dee2e6 #fff;
}
// ------------ margin before footer in player page -------------------
.before_footer {
  margin-bottom: 60px;
}
// -------  card player ----------
.card-bg-blue {
  background: #0047ab;
}
.main-title-header {
  padding: 10px 0;
    margin: 0;
    border-bottom: solid 2px #daa520;
    text-align: center;
    color: #daa520;
}
// -------------- Modal --------------
.modal-backdrop.show {
  opacity: 0;
  display: none;
}
.modal-content {
  padding: 10px 20px;
}
.modal-content button.close .sr-only {
  display: none;
}
.modal-content button.close {
  width: 40px;
  border: none;
  background: none;
}
.modal-content button.close span {
  font-size: xx-large;
  color: #0047ab;
}
.modal-content .player-profile {
  width: 400px;
  height: 250px !important;
  object-fit: cover;
}
.modal-content .modal-header {
  display: flow-root;
  padding: 0;
}
.modal-content div#contained-modal-title-vcenter {
  font-size: 1.7em;
}
.modal-content .player-data-list {
  font-size: 17px;
}
.player-data-list .player-des::before {
  content: ": ";
  margin-left: -20px;
}
.over-player {
  background: linear-gradient(
    0deg,
    rgba(8, 14, 31, 0.9) 26%,
    rgba(24, 23, 51, 0) 50%
  );
  width: 100%;
  height: 100px;
  // position: dsafasrelative;
}
.parent-card {
  height: 40vh;
  display: flex;
  align-items: end;
  justify-content: center;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}
.child-card-mask {
  background: linear-gradient(
    1deg,
    rgb(0, 71, 171) 10%,
    rgba(219, 189, 4, 0) 60%
  );
  width: 100%;
  height: 100px;
}
.text-hidden {
  width: 100%;
  border-top: 0.1px solid #cfb56c9e;
  font-size: 12px;
  padding: 1em 0;
}
// ----------- Store --------------
.wrap-all-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.wrap-product-card {
  border: 1px solid;
  cursor: pointer;
  width: 300px;
  padding: 0;
  margin: 1em;
  height: max-content;
  border-color: #e3d6d6;
}
.wrap-product-card:hover .photo,
.wrap-product-card:hover .wrap-price-name {
  opacity: 0.6;
  transition: 0.8s;
}
.wrap-product-card .photo {
  margin: auto;
  height: 290px;
  object-fit: cover;
  width: 100%;
  background-position: center top;
}
.wrap-product-card .wrap-price-name {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: #4a70c1;
}

// ---------------- Footer ----------
.site-footer-inner {
  padding: 30px 0;
}
.footer-socail-card {
  width: 80px;
  height: 60px;
  background: #4a70c1;
  margin-right: 10px;
}
.footer-socail-card.instagram {
  background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      transparent 50%
    ),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 60% -20%,
      #893dc2,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d);
}
.twitter {
  background: #55acee;
}
// -- footer copyright --
.footer-copyright {
  text-align: center;
  font-size: 14px;
  color: #daa520;
  margin-top: 1em;
}
// -- Team Motivational --
.team-motivational-txt {
  width: 290px;
  height: 60px;
  background: none;
  color: white;
}
// ------------------ Media Page ---------------
.wrap-all-photos {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  font-size: 0;
  max-width: 1060px;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}
.wrap-all-photos img.photo {
  height: 200px;
  object-fit: cover;
  width: 100%;
}
.wrap-all-photos img.photo:hover {
  transition: transform 0.8s;
  transform: scale(1.2);
}

// -------------------- check Responsive -------------
@media only screen and (min-device-width: 1024px) {
  .text-hidden {
    opacity: 0;
  }
  .wrap-text-player {
    height: 80px;
  }
  .parent-card:hover .wrap-text-player {
    height: 140px;
    transition: height 1s ease;
  }
  .parent-card:hover .text-hidden {
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
  }
  img.player-profile {
    height: 350px;
    margin: auto;
    object-fit: cover;
  }
}
// -------------------------- Phone Device --------------------
@media only screen and (max-device-width: 1024px) {
  .image-slide {
    height: 40vh;
  }
  .split-wrap .split-item .split-item-image {
    position: relative;
    min-width: 0 !important;
  }
  .parent-card {
    height: 30vh;
  }
  .modal-content .player-profile {
    height: 25vh !important;
    object-fit: contain;
  }
  .wrap-text-player {
    height: 80px;
    overflow: hidden;
  }
  .wrap-product-card .photo {
    margin: auto;
    height: 250px;
    object-fit: cover;
    width: 100%;
  }
  h1.reveal-from-bottom{
    margin-bottom: 0;
  }
  h1.reveal-from-bottom ,.history-head{
    font-size: 1.6em;
  }
  .wrap-slide img{
    height: 450px !important;
  }
  .site-header+.site-content .section:first-of-type {
    padding-top: 50px;
  }
}
.wrap-card-player .card-img-top:hover {
  transition: transform 0.8s; /* Animation */
  transform: scale(1.2);
}
//======screen Match=================
@media screen and (min-width: 601px) {
  div.match {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  div.match {
    font-size: 12px;
  }
  .wrap-table Table{
    width: 30em;
  }
  .wrap-slide img{
    height: 300px !important;
  }
}

.section-inner {
    padding-top: 30px;
    padding-bottom: 60px;
}
.site-header + .site-content .section:first-of-type {
  padding-top: 50px;
}

.item-result {
  display: flex;
  width: 100%;
}
.item-result .item-result-box {
  width: 100%;
  height: 40px;
  line-height: 60px;
  border: 1px solid #0047AB;
  text-align: center;
  line-height: 40px;
  // background-color: #0047AB;
}
// .wrap-table .table-striped>tbody>tr:nth-of-type(odd) {
//   --bs-table-accent-bg: #0047AB;
//   color: #ffffff;
// }
tr{
  border-bottom-color: rgb(255, 255, 255) !important;
}
span.result-sign:before {
  content: ":";
  margin: 0 10px;
}

// ========== slide ==========
span.sr-only {
  display: none;
}
.hero-inner.section-inner {
  padding-top: 40px;
  padding-bottom: 20px;
}

.sponsor{
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
  border-top: solid 1px goldenrod;
  padding-top: 2em;
  margin-left: 2em;
}
.sponsor img.sponser-img {
  height: 70px;
  margin-bottom: 0.4em;
  margin-right: 2em;
  padding-bottom: 20px;
}